{% extends 'app/base.html' %}
{% block title %}User details{% endblock %}
{% block content %}
<div class="g">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>{{ object.username }}'s Details</h1>
    </div>
    {% if messages %}
     {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="text-align: center">
          {{ message }}
        </div>
     {% endfor %}
    {% endif %}
</div>
    </div>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
            <h1>Имя: {{ object.username }}</h1>
            <h2>Почта: {{ object.email }}</h2>
            <h2>ИИН: {{ object.iin }}</h2>
            <h2>Почтовый индекс: {{ object.address_index }}</h2>
            {% for group in object.groups.all %}
            <h2>Роль: {{ group }}</h2>
            {% endfor %}
            <h2>Верифицирован: {{ object.email_verified }}</h2>
            <a href="{% url 'change-role' object.id %}"><button class="btn btn-outline-dark">Изменить роль</button></a>
        </div>
    </div>
  </div>
{% endblock %}