{% extends 'app/base.html' %}
{% block title %}Order {{ object.id }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div>
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>Заказ {{ object.id }} | {{ object.date_ordered }} | {{ object.status }}</h1>
    </div>
</div>
    </div>
{% if messages %}
     {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="text-align: center">
          {{ message }}
        </div>
     {% endfor %}
    {% endif %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
          <div class="border-top pt-3">
              <div style="text-align: center;">
              <br>
              <h3>Масса: {{ object.mass }} тонн</h3>
              <br>
              <h3>Фракция: {{ object.fraction }}</h3>
              <br>
              <h3>Сумма: {{ object.price }} тенге</h3>
              <br>
              <h3>Машина: {{ object.registration_certificate }}</h3>
              <br>
                  {% if not user.is_superuser %}
                  {% if not object.status == "модерация" %}
              <form method="POST" enctype='multipart/form-data'>
                  {% csrf_token %}
                  <fieldset class="form-group">
                        {{ form|crispy }}
                  </fieldset>
              <div class="form-group">
              <button class="btn btn-outline-dark" type="submit">Confirm order</button>
               </div>
          </form>
                  {% endif %}
                  {% else %}
                  <img src="{{ object.pay_set.first.file.url }}" style="width: 1080px; height: 400px">
                  <a href="{% url 'download-check' object.pay_set.first.id %}" class="btn btn-outline-dark" id="eye">Download</a>
                  {% if not object.status == 'оплачен' %}
                  <a class="btn btn-outline-dark" href="{% url 'activate_order' object.id %}">Подтвердить</a>
                  {% endif %}
                  {% endif %}

    </div>
  </div>
</div>
    </div>
</div>
{% endblock %}