{% extends 'app/base.html' %}
{% block title %}Site{% endblock %}
{% block content %}
<div class="g">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>Заказы</h1>
    </div>
</div>
    </div>
<div class="container">
    {% if messages %}
     {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="text-align: center">
          {{ message }}
        </div>
     {% endfor %}
    {% endif %}
  </div>
<div class="col-lg-8 col-md-10 mx-auto">
    <div class="order-preview">
        {% if not order.status == 'модерация' %}
        <table class="table">
            <thead>
        <tr>
          <th scope="col">Заказ №</th>
          <th scope="col">Пользователь</th>
          <th scope="col">Время</th>
          <th scope="col">Масса</th>
          <th scope="col">Статус</th>
          <th scope="col">Этап</th>
          <th scope="col">Детали</th>
        </tr>
      </thead>
            {% for order in all_orders %}
            <tbody>
            <tr>
            <th scope="row">{{ order.id }}</th>
            <th scope="row">{{ order.user }}</th>
            <td>{{ order.date_ordered|date:"F d, Y" }}</td>
            <td>{{ order.mass }} т</td>
            <td>{{ order.status }}</td>
            <td>{{ order.step }}</td>
            <td><a href="{% url 'order-detail' order.id %}"><button class="btn btn-outline-dark">Посмотреть</button></a></td>
            </tr>
            </tbody>
            {% endfor %}
            </table>

            {% else %}
            <h1>NO ORDERS</h1>
            {% endif %}
    </div>
    {% if is_paginated %}
    <div style="text-align: center; margin-top: 60px;">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
        {% if page_obj.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}
    </div>
</div>
{% endblock %}