{% extends 'app/base.html' %}
{% block title %}Site{% endblock %}
{% block content %}
<div class="g">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>Welcome {{ user.username }}</h1>
    </div>
</div>
    <a href="{% url 'order'%}"><button class="btn btn-outline-dark">Заказать</button></a>
    </div>
<div class="container">
    {% if messages %}
     {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="text-align: center">
          {{ message }}
        </div>
     {% endfor %}
    {% endif %}
  </div>
<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">logout</button>
</form>
{% endblock %}