{% extends 'app/base.html' %}
{% block title %}Site{% endblock %}
{% block content %}
<div class="g">
<div class="container px-4 px-lg-5">
    <div class="gg">
        <h1>Пользователи</h1>
    </div>
</div>
    </div>
<div class="container">
    {% if messages %}
     {% for message in messages %}
        <div class="alert alert-{{ message.tags }}" style="text-align: center">
          {{ message }}
        </div>
     {% endfor %}
    {% endif %}
  </div>
<div class="col-lg-8 col-md-10 mx-auto">
    <div>
        <table class="table">
            <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Имя</th>
          <th scope="col">Почта</th>
          <th scope="col">Роль</th>
          <th scope="col">Верифицирован</th>
        </tr>
      </thead>
            <tbody>
            {% for user in users %}
            {% if user.is_superuser %}
            {% else %}
            <tr>
        <th scope="row">{{ user.id }}</th>
         <td>{{ user.username }}</td>
         <td>{{ user.email }}</td>
         <td>{{ user.role }}</td>
         {% if user.email_verified %}
         <td>Да</td>
         {% else %}
         <td>Нет</td>
         {% endif %}
         {% endif %}
            </tr>
            {% endfor %}
            </tbody>
            </table>
    </div>
    {% if is_paginated %}
    <div style="text-align: center; margin-top: 60px;">
        {% if page_obj.has_previous %}
        <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.previous_page_number }}"><</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <a class="btn btn-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:"-3" and num < page_obj.number|add:"3" %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
        {% if page_obj.has_next %}
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.next_page_number }}">></a>
        <a class="btn btn-outline-dark mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}

    </div>

</div>
{% endblock %}